{
body {
 background-color: blue;
}
h1 {
  color: red;
  margin-left:20px;
}
div {
background-color:yellow;
color:white;
padding:25px;
text-align:center;
}
/*div:hover {
background-color:yellow;
}*/
p{
display:none;
background-color:green;
padding:20px;
}
div:hover p{
display:block;
}
